@model CodingBlogDemo2.Models.MultipleChoice

<form asp-route="SaveMultipleChoice" role="form" class="form-horizontal" method="post">
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PostId" />
        <div class="form-group">
            <label class="col-md-2 control-label">Folder</label>
            <div class="col-md-10">
                <select class="form-control" name="folder" required>
                    @if (ViewBag.folderId == 0)
                    {
                        <option value="0" selected>none</option>

                    }
                    else
                    {
                        <option value="0">none</option>

                    }
                    @foreach (var folder in ViewBag.Folders)
                    {
                        if (ViewBag.folderId == folder.FolderId)
                        {
                            <option value="@folder.FolderId" selected>@folder.Name</option>

                        }
                        else
                        {
                            <option value="@folder.FolderId">@folder.Name</option>

                        }

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="A" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="A" class="form-control" />
                <span asp-validation-for="A" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="B" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="B" class="form-control" />
                <span asp-validation-for="B" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="C" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="C" class="form-control" />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="D" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="D" class="form-control" />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Answer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Answer">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>