@model CodingBlogDemo2.Models.ViewModels.MultipleChoiceViewModel

<form asp-route="MultipleChoice" method="post" role="form" class="form-horizontal" id="1" name="1">
    <h2> Create a Multiple Choice form</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="category" value="1"/>

    <hr />

    <div class="form-group">
        <label asp-for="Name" class="col-md-5 control-label"></label>
        <div>
            <input asp-for="Name" class="col-md-2 form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-5 control-label"></label>
        <div>
            <textarea asp-for="Description" class="col-md-2 form-control"></textarea>
            
        </div>
    </div>

    <div class="form-group">
        <label asp-for="A" class="col-md-5 control-label"></label>
        <div>
            <input asp-for="A" class="col-md-2 form-control" />
         
        </div>
    </div>

    <div class="form-group">
        <label asp-for="B" class="col-md-5 control-label"></label>
        <div>
            <input asp-for="B" class="col-md-2 form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="C" class="col-md-5 control-label"></label>
        <div>
            <input asp-for="C" class="col-md-2 form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="D" class="col-md-5 control-label"></label>
        <div>
            <input asp-for="D" class="col-md-2 form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Answer" class="col-md-5 control-label"></label>
        <div>
            <select asp-for="Answer">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" class="btn btn-success col-md-offset-5 col-md-2" value="Create Form" />
    </div>
</form>