@model CourseListViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }

    <div class="col-md-8" style="border: 2px dashed rgba(27,31,34,0.3)">
        <h3>Class Posts</h3>
        <hr />
        <h5>
            No Posts...
        </h5>
    </div>

    <div class="col-md-3" style="margin-left: 15px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Course" asp-action="Index" style="font-weight: 500; font-size: 14px;"> Courses</a>
            </div>

            @foreach (var course in Model.Courses)
            {
                @*if(Model.Courses.Count() > 5)
                {

                    <p>hello</p>
                }*@
                <div class="panel-body" style="padding: 0px">
                    <h5 style="padding: 10px 15px;"><a asp-controller="Course" asp-action="Show" asp-route-courseId="@course.CourseId">@course.Name</a></h5>
                    <p style="padding-left: 15px"><span style="font-weight: bold">Instructor: </span>Professor @Model.ProfessorName</p>
                    <hr style="margin:0px"/>
                </div>
            }
            
        </div>
    </div>
</div>