@model CodingBlogDemo2.Models.ViewModels.AssignmentViewModel


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/codemirror-5.31.0/lib/codemirror.js"></script>
<script src="~/codemirror-5.31.0/mode/clike/clike.js"></script>
<link href="/codemirror-5.31.0/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="~/codemirror-5.31.0/theme/base16-dark.css" rel="stylesheet" type="text/css" />

<style>
    .CodeMirror {
        border: 1px solid #334;
        width: 400px;
    }
</style>

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@if(Model.MC != null)
{
    @Html.Partial("EditMultipleChoice", Model.MC);

}
else if(Model.CodeSnippet != null)
{
    @Html.Partial("EditCodeSnippet", Model.CodeSnippet)
}
else if(Model.CodeSnippetNoAnswer != null)
{
    @Html.Partial("EditCodeSnippetNoAnswer", Model.CodeSnippetNoAnswer)
}
@*<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script>

    //create code mirror instance for code snippets
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-java"
    });

    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
</script>