<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewData["Title"] = "Fundamentals";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style media="screen">
        #options {
            width: 300px;
            height: 120px;
            border: 3px solid #2E151B;
            vert-align: middle;
            font-size: 13px;
            margin: 10px;
            text-align: center;
        }
        body {
            background-color: #2F4454;
            color:white;
        }
        #stay {
            margin-left: 11%;
        }
        #title {
            text-align: center;
        }
        b {
            color: #376e6f;
            font-size: 15px;
        }

        #but{
            margin-top: 10px;
        }
    </style>

    
    <title>Document</title>
</head>
<body>
<h1 id ="title">Practice the Fundamentals</h1>
<div class="container-fluid" id ="stay">
    <div class="row">
        <div class="col-md-4 col-sm-6" id ="options"> <b>Selection Statments</b> <br /> Create a program that is able to decide which statment to execute based on conditions.<br/><a href="/Fundamentals/Selection/" class="btn btn-default" id="but">Continue</a></div>
        <div class="col-md-4 col-sm-6" id ="options"> <b>Strings</b><br/>An introduction to String objects and the many methods that it comes with.<br /><a href="/Fundamentals/StringMethods/" class="btn btn-default" id="but">Continue</a></div>
        <div class="col-md-4 col-sm-6" id ="options"><b>Loops</b><br/>Learn how to tell a program to execute statements repeatedly.<br /><a href="/Fundamentals/Loops/" class="btn btn-default" id="but">Continue</a></div>
        <div class="col-md-4 col-sm-6" id ="options"><b>Functions</b><br/>Learn how to write reusable, organized, and simplified code.<br /><a href="/Fundamentals/CreatingMethods/" class="btn btn-default" id="but">Continue</a></div>
        <div class="col-md-4 col-sm-6" id ="options"><b>Arrays</b><br/>Learn about the single and multidimensional array data structure.<br /><a href="/Fundamentals/Arrays/" class="btn btn-default" id="but">Continue</a></div>
        <div class="col-md-4 col-sm-6" id ="options"><b>Introduction to Objects</b><br/>Learn how objects enable users to build large-scale software applications effectively.<br /><a href="/Fundamentals/Objects/" class="btn btn-default" id="but">Continue</a></div>
    </div>
</div>
</body>
</html>