@model CodingBlogDemo2.Models.Folder

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h2 class="col-md-offset-4">Update Folder </h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FolderId" />
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-5 control-label">Folder Name</label>
            <div>
                <input asp-for="Name" class="col-md-2 form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-success col-md-offset-5 col-md-2" value="Update Folder" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

