@model CodingBlogDemo2.Models.ViewModels.CodeSnippetNoAnswerViewModel

<form asp-route="CodeSnippetNoAnswer" role="form" class="form-horizontal" id="3" name="3">
    <h2> Create a Code Snippet form</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="category" value="3" />
    <hr />
    <div style="position: relative; right: 100px;">
        <div class="form-group">
            <label asp-for="Name" class="col-md-5 control-label"></label>
            <div>
                <input asp-for="Name" class="col-md-2 form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-5 control-label"></label>
            <div>
                <textarea asp-for="Description" class="col-md-2 form-control"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label asp-for="Code1" class="col-md-5 control-label"></label>
            <div>
                <textarea asp-for="Code1" class="col-md-2 form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Answer" class="col-md-5 control-label"></label>
            <div>
                <input asp-for="Answer" class="col-md-2 form-control" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success col-md-offset-5 col-md-2" value="Create Form" />
        </div>
    </div>
</form>
