<h2>Loops</h2>
Loops are useful for when developers need to iterate a certain repeatedly. <br />
Java provides three diffrent types of loops that users are able to use depending on their needs. <br />
<br/>
The first and simplest of the tri is the while loop. Just like it sounds like, it will execute whatever <br />
it needs to until the condition provided is false. Therefore, whatever the clause for the iteration is, it needs to <br />
be a boolean value.<br/>
<br/>
The second of the group is the do while loop. It is very much like the while loop except that, it checks the condition <br />
that makes it true <b>AFTER</b> it executes whatever is in the brackets. In other words, it is always guaranteed to <br />
execute once. <br />
<br/>
And finally, the more common one used by developers is the for loop. This loop does not break by a user specied boolean value, <br />
It breaks upon the iteration point. So, if the user sets it to run 10 times, the loop will continue to run until it gets to 11. <br />
Users are also able to specify how to iterate throught it whether it be every cycle is worth one iteration or two iterations etc. <br/>
<br />
Below are some examples of each loop talked about above.<br />
<br />
<div data-pym-src="https://www.jdoodle.com/embed/v0/fdv"></div>

<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>