<h2>Objects</h2>

With the basic knowledge of the Java programming language, We can write our own classes. <br/> 
<br/>
A typical Java program creates many objects, which as you know, interact by invoking methods. <br/>
These object interactions, a program can carry out various tasks, such as implementing a GUI <br/>
<br/>
Rather than explain how it works, below is an example of an object being created and implemented.

<div data-pym-src="https://www.jdoodle.com/embed/v0/foX"></div>

<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>


