
@{
    ViewData["Title"] = "Selection";
}

<h2>Selection</h2>

An if-statement is a programming conditional statement that, if proved true, performs a function or displays information. <br/>
In its most basic form, an if-statement executes a single statement or a block of statements if a boolean expression evaluates to true. <br/>
In a less basic form the if statment can execute various statments as long as they are enclosed in paraenthases. <br/>
<br />
An if-statement can include an else clause that executes a statement or block if the boolean expression is not true. <br/>
If-statments can also be nested within one another and execute as long as the conditions are true. <br />
<br />
More advanced if-statments use if else clauses, which enable the programmer to have many different types of conditions where a<br />
yes or no might not apply so well. <br />
<br />
Below are some examples of each if-statement talked about above.<br />
<br />
<div data-pym-src="https://www.jdoodle.com/embed/v0/f6N"></div>

<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>