<h2>String Manipulations</h2>

Java provides many predefined functions that allow developers to manipulate and change strings.<br/>
rather than telling the computer how to do it. <br/>
<br/>
Java allows its developers to extract certain pieces of a string by using the substring method <br/>
Developers are also able to split strings by either spaces, or certain characters by using a combination<br/>
of Regular Expressions and the split method. <br/>
<br/>
Inorder to manipulate the string into all uppercase or all lowercase, toUpperCase() and toLowerCase methods<br/>
can be used. Developers can also check to see what index a certain letter in a string is by using indexOf(), or <br/>
They can search the entire word for a certain letter or phrase by using the contains method. <br/>
<br/>
If for some reason the user feels the need to change a certain phrase or letter in the string they can use the<br/>
method to do so. <br/>
<br/>
Below are some examples of the concepts talked about above. 
<div data-pym-src="https://www.jdoodle.com/embed/v0/fdo"></div>

<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>