@model CourseListViewModel

<div class="row">
    <div class="col-md-12">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: 600; color: #586069; padding: 4px 15px 4px 15px; height: 48px;">
                        <h4 style="margin-top: 15px;">
                            <span style="font-weight: bold;">
                                Your Classes
                            </span>
                        </h4>
                    </div>
                    @if (Model.Courses.Count() < 1)
                    {
                        <div class="panel-body">No courses created...</div>
                    }
                    else
                    {
                        <div class="panel-body" style="padding: 0px;">
                            <table class="table" style="margin-bottom: 0px;">
                                <tbody>
                                    @foreach (var course in Model.Courses)
                                    {
                                        <tr>
                                            <td>
                                                <span class="title-custom">@course.Name</span>

                                                @*<span style="font-weight: bold;">created on</span> {{date('M j, Y h:i A', strtotime($workout->created_at))}}*@
                                            </td>
                                            <td style="width: 300px;">
                                                <a asp-controller="Course" asp-action="Show" asp-route-id="@course.CourseId" class="btn btn-default btn-sm" style="color: black; margin-left: 48px;">
                                                    <span class="glyphicon glyphicon-eye-open"></span> View
                                                </a>
                                                <span>&nbsp</span>
                                                <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-default btn-sm" style="color: black;">
                                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                                </a>
                                                <span>&nbsp</span>
                                                <form style="display:inline" asp-controller="Course" asp-action="Delete" asp-route-id="@course.CourseId" method="post">
                                                    <button type="submit" class="btn btn-default btn-sm" style="color: black;">
                                                        <span class="glyphicon glyphicon-erase"></span> Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>